# 通用配置
ENV=production

# HTTP请求的端口号 ,非必要请勿更改
PORT=11434

# HTTPS请求的端口号, 如果与本地冲突可更改, 然后自行反代 http 端口实现 https 访问
HTTPS_PORT=443

# 主机地址, 一般不需要更改
HOST=0.0.0.0

# 反向代理配置（代理到另一个OpenAI兼容服务）
UPSTREAM_API_BASE_URL=http://192.168.2.207:3000
UPSTREAM_API_KEY=


# 自动hosts配置（服务启动时自动添加域名到hosts文件）
HOSTS_DOMAINS=my.ghe.com,api.my.ghe.com,copilot-proxy.my.ghe.com,copilot-telemetry-service.my.ghe.com,api.individual.githubcopilot.com,api.individual.my.ghe.com,origin-tracker.individual.my.ghe.com,proxy.individual.my.ghe.com,telemetry.individual.my.ghe.com,exp.individual.my.ghe.com,api.githubcopilot.com

# 当vs copilot 模型选择处于自动的情况下使用的模型，否则就是传什么，用什么
COPILOT_AUTO_MODEL=Qwen3.8-27B
COPILOT_CHAT_DEFAULT_MODEL=Qwen3.8-27B
COPILOT_CHAT_FALLBACK_MODEL=Qwen/Qwen3.6-35B-A3B

# 对话服务模型的重叠惩罚 (repetition_penalty), 取值范围: [1.0, 2.0]
CHAT_REPETITION_PENALTY=

# 对话服务模型的温度 (temperature), 控制随机性, 取值范围: [0, 2]，服务端默认1.0
CHAT_TEMPERATURE=

# 对话服务模型的核采样 (top_p), 控制多样性, 取值范围: [0, 1.0]，服务端默认0.95
CHAT_TOP_P=

# 允许设置参数的model
CHAT_CUSTOM_PARAMS_MODELS=Qwen3.8-27B

# Embedding模型配置
EMBEDDING_DIMENSION_SIZE=1024
EMBEDDING_MODEL=bge-m3


# JWT秘钥, 建议立即修改 (每次修改后都需要重新登录插件后才可正常使用)
JWT_SECRET=TiXrNaj4avvMuD4w

# 登录页面访问密码, 用于部署在公共服务器上防止他人盗用服务, 默认空:表示不设置
LOGIN_PASSWORD=

# 全局 http 请求超时,单位秒
HTTP_CLIENT_TIMEOUT=300

# 默认的服务请求地址, 必须开启https. 可以替换任何二级域名, 但后续的服务域名必须与此域名有关
COPILOT_MAIN_BASE_URL=https://my.ghe.com

# 默认的API服务请求地址, 必须开启https.  域名 `api` 前缀必须固定
COPILOT_API_BASE_URL=https://api.my.ghe.com

# 默认的代理服务请求地址, 必须开启https.  域名 `copilot-proxy` 前缀必须固定
COPILOT_PROXY_BASE_URL=https://copilot-proxy.my.ghe.com

# 默认的心跳服务请求地址, 必须开启https.  域名 `copilot-telemetry-service` 前缀必须固定
COPILOT_TELEMETRY_BASE_URL=https://copilot-telemetry-service.my.ghe.com

# Copilot伪装token下发的有效期,单位秒 (如果是共享给他人的服务建议使用默认值, 自用的话可以设置很大来避免github copilot插件偶尔断连的问题)
COPILOT_TOKEN_TTL_SECONDS=2147483647
